.MuiFormHelperText-root {
    color: #df0303 !important;
  }
  .Block{
  min-width: 60%  !important;
  border-radius: 20px  !important;
  min-height: 100px  !important;
  font-size: 25px  !important;
}
.BlockContainer{
  text-align: center !important;
  margin-top: 20px !important;
}