.MuiFormHelperText-root {
    color: #df0303 !important;
  }
  .Block{
  width: 250px  !important;
  border-radius: 20px  !important;
  min-height: 100px  !important;
  font-size: 25px  !important;
}
.BlockAnswers{
  width: 80%  !important;
  border-radius: 20px  !important;
  min-height: 100px  !important;
  font-size: 25px  !important;
}
.BlockAnswersContainer{
  width: 100%;
  text-align: center;
  margin-top: 20px !important;
}
#ButtonAddAnswer{
  width: 250px  !important;
  border-radius: 20px  !important;
  height: 50px  !important;
  font-size: 20px  !important;
  float: right;
  margin-right: 5%;
  
}
.SearchInput{
  width: 250px  !important;
  border-radius: 20px  !important;
  height: 50px  !important;
  font-size: 20px  !important;
  color: #1976d2;
  border: #1976d2 1px solid;
  margin-left: 5%;
  margin-bottom: 10px;
}
::placeholder{
  color: #1976d2;
  padding-left: 5px;
}
.BlockContainer{
  float: left !important;
  margin-top: 20px !important;
  padding-left: 5%;
}
@media only screen and (max-width: 600px) {
  .BlockContainer{
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.title{
  font-family: 'arial';
  color: #1976d2;
  text-align: center;
  font-size: 50px;
}
.subtitle{
  font-family: 'arial';
  color: #1976d2;
  text-align: center;
  font-size: 30px;
}

.answer-search-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.answer-search-checkbox input[type="checkbox"] {
  appearance: none;
  width: 35px;
  height: 35px;
  border: 2px solid #2196f3; /* Kolor niebieski */
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  margin-left: 5%;
}


.answer-search-checkbox input[type="checkbox"]:checked {
  background-color: #2196f3; /* Kolor tła po zaznaczeniu */
}

.answer-search-checkbox input[type="checkbox"]:checked::before {
  content: '✔'; /* Symbol zaznaczenia */
  display: inline-block;
  font-size: 16px;
  color: #ffffff; /* Kolor symbolu */
  line-height: 35px;
  text-align: center;
  width: 35px;
  height: 35px;
}

.CommentContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 20%;
  min-width: 150px;
}

.CommentContainer .user_name {
  font-weight: bold;
}


#Dodaj_Komentarz{
float: left;
margin-bottom: 10px;

}

#AddComment_Button{
  margin-top: 10px;
  float: left;
  margin-bottom: 20px;
}
#AddComment_TextField{
  float: left;
  
}
.css-nzinn5-MuiContainer-root{
  padding-left: 0 !important;
}
.grade{
  font-family: 'arial';
  color: #1976d2;
  text-align: right;
  margin-right: 2%;
  margin: 20px;
  font-size: 30px;
}
.grade-input{
  width: 50px;
  margin: 10px;
  font-size: 26px;
  border-radius: 3px;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px rgb(184, 184, 184);
  text-align: left;
}
#add-grade-button{
  margin-bottom: 5px;
}
.add-grade-container{
  position: relative;
  width: 95%;
}
#add-grade{
  position: relative;
  float: right;
  width: fit-content;
}

.CommentComponent{
  margin-left: 3%;
}